<h1>Order Info</h1>

<p>This is order information</p>

<p *ngIf="!orderInformation"><em>Loading...</em></p>
<div>
    <label>Client Name: </label>
    <select (change)="filterByClientName($event.target.value)">
        <option value="0">--All--</option>
        <option *ngFor="let clientName of clientNameSummaries" value={{clientName}}>
            {{clientName}}
        </option>
    </select>
</div>
<table class='table' *ngIf="orderInformation">
    <thead>
        <tr>
            <th>ClientId</th>
            <th>Client Name</th>
            <th>Order Date</th>
            <th>GST</th>
            <th>Total</th>
            <th>Product Code</th>
            <th>Quantity</th>
            <th>Price/quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of orderInformation" >
            <td>{{ item.clientId }}</td>
            <td>{{ item.clientName }}</td>
            <td>{{ item.orderDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{ item.gst | currency: 'AUD' }}</td>
            <td>{{ item.total | currency: 'AUD' }}</td>
            <td>{{ item.productCode }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.totalPrice | currency: 'AUD' }}</td>
        </tr>
    </tbody>
</table>
